.navbar{
  font-size: 10px;
}
.boxshadow{
  box-shadow: 5px 10px 10px gray;
  width: 50%;
  padding: 5px;
 
  
}
.homecomponent{
  display:flex;
  justify-content: center;
}
.contactcarsd{
  display:flex;
  justify-content:left;
}